[user]
    name = nambrosini
    email = nico.ambrosini@icloud.com

[includeIf "gitdir:~/work/"]
    path = "~/work/.gitconfig"

[includeIf "gitdir:~/.config/"]
    path = "~/personal/.gitconfig"

[column]
    ui = auto

[branch]
    sort = -committerdate

[tag]
    sort = version:refname

[init]
    defaultBranch = master
    templatedir = ~/.git_template

[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true

[push]
    autoSetupRemote = true
    default = simple
    followTags = true

[fetch]
    all = true
    prune = true
    pruneTags = true

[help]
    autocorrect = prompt

[commit]
    verbose = true

[rerere]
    autoUpdate = true
    enabled = true

[core]
    autocrlf = input
    editor = nvim
    excludesFile = ~/.gitignore

[rebase]
    autosquash = true
    autoStash = true
    updateRefs = true

[merge]
    confictstyle = zdiff3

[pull]
    rebase = true

[alias]
    a = add -u .
    aa = add .
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    cm = commit -m
    co = checkout
    cob = checkout -b
    d = diff
    del = branch -D
    force = push --force-with-lease
    ll = log --oneline
    s = status
    staash = stash --all
    ua = restore --staged
    undo = reset HEAD~1 --mixed
    wt = worktree
    wt-new = "!f() { \
        git worktree add -b \"$2\" \"../$1\" && \
        git ls-files --others --exclude-standard --ignored | rsync -av --files-from=- ./ \"../$1\" && \
        tmux new-session -d -c \"../$1\" -s \"$2\"; \
    }; f"
    wt-add = "!f() { \
        git worktree add \"$1\" \"$2\" && \
        git ls-files --others --exclude-standard --ignored | rsync -av --files-from=- ./ \"$1\" && \
        tmux new-session -d -c \"$1\" -s \"$2\"; \
    }; f"

[maintenance]
    repo = /Users/nambrosini/personal/homelab
    repo = /Users/nambrosini/work/argocd
    repo = /Users/nambrosini/work/kafka-platform-automation-ng
