[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/nambrosini/nvim
[submodule "/home/nambrosini/dotfiles/.config/tmux/plugins/tmux-plugins/tmux-cpu"]
	path = /home/nambrosini/dotfiles/.config/tmux/plugins/tmux-plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
