[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/nambrosini/nvim
[submodule ".config/tmux/plugins/tmux-plugins/tmux-cpu"]
	path = .config/tmux/plugins/tmux-plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
