[init]
    defaultBranch = master
	templatedir = ~/.git_template
[user]
    name = Ambrosini Nico (IT-PTR-CEN1-BDE4)
    mail = nico.ambrosini@sbb.ch
    email = nico.ambrosini@sbb.ch
[pull]
    rebase = true
[core]
    autocrlf = input
    editor = nvim
    pager = delta
[commit]
    template = /Users/nambrosini/.commitMsg
[push]
    autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[merge]
    confictstyle = diff3

[diff]
    colorMoved = default

[alias]
    a = add -u .
    an = add .
    br = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate
    co = checkout
    cob = checkout -b
    cm = commit -m
    d = diff
    del = branch -D
    ll = log --oneline
    s = status
    undo = reset HEAD~1 --mixed

