[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:nambrosini/nvim.git
[submodule ".config/tmux/plugins/tmux-plugins/tmux-cpu"]
	path = .config/tmux/plugins/tmux-plugins/tmux-cpu
	url = https://github.com/tmux-plugins/tmux-cpu.git
